.colored {
    background-color: #507594;
}

.uncolored {
    background-color: #ECEBE6;
}

button {
    background-color: #507594;
    color: #ECEBE6;
    border-radius: 8px;
    padding: 8px;
    margin-top: 16px;
}

.container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 16px auto auto auto;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.pixel {
    border: solid black;
    box-sizing: border-box;
}