.colored {
    background-color: #507594;
    opacity: 0.1;
}

.uncolored {
    background-color: #FFF;
}

button {
    background-color: #507594;
    color: #FFF;
    border-radius: 8px;
    padding: 8px;
    margin-top: 16px;
    border: none;
}

.container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 16px auto auto auto;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.pixel {
    border: solid 1px #D3D3D3;
    box-sizing: border-box;
}